<h1>Eternal Limit Bot</h1>

<form action="/" method="POST">

  <div style="display: block">
    Market:
    <select name="market">
      <option value="IOT-BTC">IOT-BTC</option>
    </select>    
  </div>


  <div style="display: block">
    Order Type:
    <select name="order-type">
      <option value="buy">Limit Buy</option>
      <option value="sell">Limit Sell</option>
    </select>
  </div>

  <div>
    Percent limit:
    <input name="percent" />
  </div>

  <div>
    Amount per order:
    <input name="amount" />
  </div>

  <button type="submit">Do it </button>
</form>